body{
    text-align: center;
    font-size: 46px;
    font-family: "Arial";
    color: blue;
    margin: 0;
    padding: 0;
}

#cabecera {
    background: #33A;
    color: white;
    margin: 0;
    padding: 0,5 cm;
    background-color: aqua;
    }

#container {
    width: 70%;
    text-align:left ;
    border: 1px solid #000;
    margin:0 auto ;

}

#container h1 {
    font-size: 20px;
}

